ENV=development

# LLM (usado por el Núcleo del Agente, no directamente por este Backend)
GROQ_API_KEY=
COHERE_API_KEY=
GEMINI_API_KEY=

# --- OCI Object Storage (Always Free) ---
OCI_BUCKET=mediflow-documentos-clinicos
OCI_NAMESPACE=axcqfz4mzit6
OCI_REGION=sa-santiago-1

# Credenciales de API Key OCI (100% gestionadas en .env)
OCI_USER=
OCI_FINGERPRINT=
OCI_TENANCY=
OCI_KEY_FILE=./oci_api_key.pem
